# fly.toml app configuration file generated for gymbot-ulniea on 2026-02-08T09:36:16Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'gymbot-ulniea'
primary_region = 'ams'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "suspend"
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
